<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Insert title here</title>
</head>

<body>
<div id="sidebar" layout:fragment="sidebar" class="sidebar">
    <div class="menuTitle">검증시스템</div>

    <div class="menuContents" id="menuTypes">
        <a href="#" class="btn btn-secondary btn-sm font-weight-bold" id="test1">상태 비교</a><br/>
        <a href="#" class="btn btn-secondary btn-sm font-weight-bold" id="test2">단일종 시각화</a><br/>
        <a href="/obsVisualization" class="btn btn-secondary btn-sm font-weight-bold" id="obsVisualization">이종관측 시각화</a>

    </div>
</div>
</body>
</html>